<footer class="footer_wrap footer_new">
  <div class="sub_footer">
    <div class="container">
        
        
      <!--Desktop View-->
      <div class="row d-none d-md-flex">
        <div class="col-12 col-md-3">
          <div class="share_logos_wrap">
                          <a href="https://www.linkedin.com/company/genspark1/" target="_blank">
                <img src="/shared/genspark/assets/shell/Frame-1.svg" 
                     width="24"
                     height="24"
                     alt="Frame (1)" />
              </a>
                          <a href="https://www.facebook.com/GenSpark2/" target="_blank">
                <img src="/shared/genspark/assets/shell/Frame-1-1.svg" 
                     width="24"
                     height="24"
                     alt="Frame-1 (1)" />
              </a>
                          <a href="https://www.instagram.com/genspark1/" target="_blank">
                <img src="/shared/genspark/assets/shell/2-2.svg" 
                     width="24"
                     height="24"
                     alt="2 (2)" />
              </a>
                          <a href="https://x.com/GenSpark4" target="_blank">
                <img src="/shared/genspark/assets/shell/3-2.svg" 
                     width="24"
                     height="24"
                     alt="3 (2)" />
              </a>
                      </div>
        </div>

                    <div class="col-12 col-md-2 ">
              <div class="footer_menu">
                                  <h6>SOLUTIONS</h6>
                                <ul class="footer_item our_programs_list">
                                      <li>
                      <a href="https://genspark.net/workforce-upskilling/"
                         target="">
                        Workforce Upskilling                      </a>
                    </li>
                                      <li>
                      <a href="https://genspark.net/hire-train-deploy/"
                         target="">
                        Hire-Train-Deploy                      </a>
                    </li>
                                      <li>
                      <a href="https://genspark.net/ai-adoption/"
                         target="">
                        AI Adoption                      </a>
                    </li>
                                  </ul>
              </div>
            </div>
                    <div class="col-12 col-md-3 offset-md-1">
              <div class="footer_menu">
                                  <h6>RESOURCES</h6>
                                <ul class="footer_item our_programs_list">
                                      <li>
                      <a href="https://genspark.net/resources/?type=post"
                         target="">
                        Blogs                      </a>
                    </li>
                                      <li>
                      <a href="https://genspark.net/resources/?type=case-study"
                         target="">
                        Case Studies                      </a>
                    </li>
                                  </ul>
              </div>
            </div>
                    <div class="col-12 col-md-3 ">
              <div class="footer_menu">
                                  <h6>CONTACT</h6>
                                <ul class="footer_item our_programs_list">
                                      <li>
                      <a href="https://genspark.net/contact-us/"
                         target="">
                        Contact Us                      </a>
                    </li>
                                  </ul>
              </div>
            </div>
        

      </div>
      <!--Desktop View Completed-->

      <!--Mobile View-->
      <div class="mobile_view d-block d-md-none">

        <!-- Social Icons - Mobile -->
        <div class="share_logos_wrap mb-4">
                      <a href="https://www.linkedin.com/company/genspark1/" target="_blank">
              <img src="/shared/genspark/assets/shell/Frame-1.svg" 
                   width="24"
                   height="24"
                   alt="Frame (1)" />
            </a>
                      <a href="https://www.facebook.com/GenSpark2/" target="_blank">
              <img src="/shared/genspark/assets/shell/Frame-1-1.svg" 
                   width="24"
                   height="24"
                   alt="Frame-1 (1)" />
            </a>
                      <a href="https://www.instagram.com/genspark1/" target="_blank">
              <img src="/shared/genspark/assets/shell/2-2.svg" 
                   width="24"
                   height="24"
                   alt="2 (2)" />
            </a>
                      <a href="https://x.com/GenSpark4" target="_blank">
              <img src="/shared/genspark/assets/shell/3-2.svg" 
                   width="24"
                   height="24"
                   alt="3 (2)" />
            </a>
                  </div>

        <!-- Accordions - Solutions & Resources only -->
        <div class="accordion accordion-flush" id="accordionFlushExamplefooter">
                      <div class="accordion-item">
              <h2 class="accordion-header" id="flush-heading-solutions-0">
                <button class="accordion-button collapsed" type="button"
                  data-bs-toggle="collapse" data-bs-target="#flush-collapse-solutions-0"
                  aria-expanded="false" aria-controls="flush-collapse-solutions-0">
                  SOLUTIONS                </button>
              </h2>
              <div id="flush-collapse-solutions-0" class="accordion-collapse collapse"
                aria-labelledby="flush-heading-solutions-0"
                data-bs-parent="#accordionFlushExamplefooter">
                <div class="accordion-body">
                  <ul class="footer_item our_programs_list">
                                          <li>
                        <a href="https://genspark.net/workforce-upskilling/"
                           target="">
                          Workforce Upskilling                        </a>
                      </li>
                                          <li>
                        <a href="https://genspark.net/hire-train-deploy/"
                           target="">
                          Hire-Train-Deploy                        </a>
                      </li>
                                          <li>
                        <a href="https://genspark.net/ai-adoption/"
                           target="">
                          AI Adoption                        </a>
                      </li>
                                      </ul>
                </div>
              </div>
            </div>
                      <div class="accordion-item">
              <h2 class="accordion-header" id="flush-heading-resources-1">
                <button class="accordion-button collapsed" type="button"
                  data-bs-toggle="collapse" data-bs-target="#flush-collapse-resources-1"
                  aria-expanded="false" aria-controls="flush-collapse-resources-1">
                  RESOURCES                </button>
              </h2>
              <div id="flush-collapse-resources-1" class="accordion-collapse collapse"
                aria-labelledby="flush-heading-resources-1"
                data-bs-parent="#accordionFlushExamplefooter">
                <div class="accordion-body">
                  <ul class="footer_item our_programs_list">
                                          <li>
                        <a href="https://genspark.net/resources/?type=post"
                           target="">
                          Blogs                        </a>
                      </li>
                                          <li>
                        <a href="https://genspark.net/resources/?type=case-study"
                           target="">
                          Case Studies                        </a>
                      </li>
                                      </ul>
                </div>
              </div>
            </div>
                      <div class="accordion-item">
              <h2 class="accordion-header" id="flush-heading-contact-2">
                <button class="accordion-button collapsed" type="button"
                  data-bs-toggle="collapse" data-bs-target="#flush-collapse-contact-2"
                  aria-expanded="false" aria-controls="flush-collapse-contact-2">
                  CONTACT                </button>
              </h2>
              <div id="flush-collapse-contact-2" class="accordion-collapse collapse"
                aria-labelledby="flush-heading-contact-2"
                data-bs-parent="#accordionFlushExamplefooter">
                <div class="accordion-body">
                  <ul class="footer_item our_programs_list">
                                          <li>
                        <a href="https://genspark.net/contact-us/"
                           target="">
                          Contact Us                        </a>
                      </li>
                                      </ul>
                </div>
              </div>
            </div>
                  </div>
        <!-- Accordions End -->

        <!-- Contact - Static block, no accordion -->
        

      </div>
      <!--Mobile View Completed-->

    </div>
  </div>

  <div class="images_footer_wrap">
    <div class="container">
      <div class="main_content_wrap">
        <div class="logos_wrap">
          <div class="logo_consulting">
            <a href="https://pyramidci.com/" target="_blank">
              <img src="/shared/genspark/assets/shell/Frame-1973341810-1.svg" 
                   alt="Pyramid Consulting Logo"
                   width="164"
                   height="32">
            </a>
          </div>
          <ul class="sub_logos">
                          <li>
                <a href="https://pyramidci.com/talent-home-page/" target="_blank">
                  <img src="/shared/genspark/assets/shell/Frame-1973341806.svg" class="n_img" 
                       alt="Pyramid Talent Logo"
                       width="97"
                       height="30" />
                  <img src="/shared/genspark/assets/shell/Frame-1973341806-1.svg" class="h_img" 
                       alt="Pyramid Talent Logo" />
                </a>
              </li>
                          <li>
                <a href="https://celsiortech.com/" target="_blank">
                  <img src="/shared/genspark/assets/shell/Frame-1973341807.svg" class="n_img" 
                       alt="Celsior Logo"
                       width="81"
                       height="30" />
                  <img src="/shared/genspark/assets/shell/Frame-1973341807-1.svg" class="h_img" 
                       alt="Celsior Logo" />
                </a>
              </li>
                          <li>
                <a href="https://genspark.net/" target="_self">
                  <img src="/shared/genspark/assets/shell/Frame-1973341808.svg" class="n_img" 
                       alt="Genspark Logo"
                       width="104"
                       height="29" />
                  <img src="/shared/genspark/assets/shell/Frame-1973341808-1.svg" class="h_img" 
                       alt="Genspark Logo" />
                </a>
              </li>
                      </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="rights_footer_wrap">
    <div class="container">
      <div class="rights_wrap">
                <span>
                        <a href="https://genspark.net/wp-content/uploads/2024/08/GDPR-v1-6-072024.pdf"
                 target="_blank">GDPR</a>
               |               <a href="https://genspark.net/wp-content/uploads/2024/08/CCPA-CRA-v1-3-072024.pdf"
                 target="_blank">CCPA/CCRA</a>
               |               <a href="https://genspark.net/wp-content/uploads/2025/10/web-privacy-policy.pdf"
                 target="_blank">Privacy</a>
               |               <a href="https://genspark.net/wp-content/uploads/2025/07/PCI_072025_Reasonable-Accomodation-Policy.pdf"
                 target="_blank">Reasonable Accommodation Policy</a>
               |               <a href="https://privacy.microsoft.com/en-us/privacystatement"
                 target="_blank">Microsoft privacy statement</a>
                      </span>
        <span>
                        <a href="https://genspark.net/wp-content/uploads/2024/08/Web-Accessibility-v1-2-072024.pdf"
                 target="_blank">Web accessibility</a> |
                        <a href="https://genspark.net/wp-content/uploads/2024/08/Privacy-Policy-Introduction-v2-072024.pdf"
                 target="_blank">Privacy introduction</a> |
                    © 2026 Pyramid Consulting, Inc. | All rights reserved
        </span>
      </div>
    </div>
  </div>

</footer>